[Unit]
Description=deepin-anything-server-service
After=apt-daily.service network.target network-online.target systemd-networkd.service NetworkManager.service connman.service


[Service]
Type=simple
RemainAfterExit=yes 
ExecStart=deepin-anything-server
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target